nodered/flow.json
[
    {"id":"flow_main","type":"tab","label":"AlarmIoT","disabled":false,"info":"AlarmIoT FSM + dashboard. MQTT broker host = mosquitto (Compose service name)."},
    {"id":"mqtt_broker","type":"mqtt-broker","name":"Mosquitto","broker":"mosquitto","port":"1883","clientid":"nodered_alarmiot","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":"","credentials":{}},
    {"id":"dash_base","type":"ui_base","theme":{"name":"theme-dark"},"site":{"name":"AlarmIoT","hideToolbar":"false","allowSwipe":"false","lockMenuOpen":"false","allowTempTheme":"true","date":"Default","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},
    {"id":"dash_tab","type":"ui_tab","name":"AlarmIoT","icon":"home","order":1,"disabled":false,"hidden":false},
    {"id":"grp_ctrl","type":"ui_group","name":"Status & Control","tab":"dash_tab","order":1,"disp":true,"width":"6","collapse":false},
    {"id":"grp_kits","type":"ui_group","name":"Kit Status","tab":"dash_tab","order":2,"disp":true,"width":"6","collapse":false},
    {"id":"grp_events","type":"ui_group","name":"Events","tab":"dash_tab","order":3,"disp":true,"width":"12","collapse":false},
    {"id":"grp_telem","type":"ui_group","name":"Telemetry","tab":"dash_tab","order":4,"disp":true,"width":"12","collapse":false},
    {"id":"mqtt_arm","type":"mqtt in","z":"flow_main","name":"cmd/arm","topic":"alarm/command/arm","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":80,"wires":[["fn_fsm"]]},
    {"id":"mqtt_disarm","type":"mqtt in","z":"flow_main","name":"cmd/disarm","topic":"alarm/command/disarm","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":140,"wires":[["fn_fsm"]]},
    {"id":"mqtt_motion","type":"mqtt in","z":"flow_main","name":"motion","topic":"alarm/kit_a/event/motion","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":200,"wires":[["fn_fsm"]]},
    {"id":"mqtt_defused","type":"mqtt in","z":"flow_main","name":"defused","topic":"alarm/kit_b/event/defused","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":260,"wires":[["fn_fsm"]]},
    {"id":"mqtt_dfail","type":"mqtt in","z":"flow_main","name":"defuse_fail","topic":"alarm/kit_b/event/defuse_fail","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":320,"wires":[["fn_fsm"]]},
    {"id":"fn_fsm","type":"function","z":"flow_main","name":"FSM","func":"var state = flow.get('state') || 'DISARMED';\nvar now = Date.now();\nvar newState = state;\nvar logMsg = null;\nvar timerMsg = null;\nvar topic = msg.topic || '';\n\nif (msg._isTimer === true) {\n    if (state === 'PRE_ALARM') { newState = 'TRIGGERED'; logMsg = 'Entry delay expired'; }\n} else if (topic === 'alarm/command/arm') {\n    if (state === 'DISARMED') { newState = 'ARMED'; logMsg = 'Arm command'; }\n} else if (topic === 'alarm/command/disarm') {\n    newState = 'DISARMED'; logMsg = 'Disarm (admin override)'; timerMsg = {reset: true};\n} else if (topic === 'alarm/kit_a/event/motion') {\n    if (state === 'ARMED') { newState = 'PRE_ALARM'; logMsg = 'Motion detected (Kit A)'; timerMsg = {_isTimer: true, payload: 'entry_delay'}; }\n} else if (topic === 'alarm/kit_b/event/defused') {\n    if (state === 'PRE_ALARM' || state === 'TRIGGERED') { newState = 'DISARMED'; logMsg = 'DEFUSED!'; timerMsg = {reset: true}; }\n} else if (topic === 'alarm/kit_b/event/defuse_fail') {\n    logMsg = 'Defuse FAILED';\n}\n\nvar out1 = null, out2 = timerMsg, out3 = null;\n\nif (newState !== state) {\n    flow.set('state', newState);\n    out1 = {payload: JSON.stringify({state: newState, since: now})};\n}\n\nif (logMsg) {\n    var tag = (newState !== state) ? newState : state;\n    out3 = {payload: new Date().toLocaleTimeString() + '  ' + logMsg + '  [' + tag + ']'};\n}\n\nreturn [out1, out2, out3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":200,"wires":[["out_state"],["delay_15s"],["fn_event_log"]]},
    {"id":"delay_15s","type":"delay","z":"flow_main","name":"15 s Entry Delay","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":580,"y":280,"wires":[["fn_fsm"]]},
    {"id":"out_state","type":"mqtt out","z":"flow_main","name":"alarm/system/state","topic":"alarm/system/state","qos":"0","retain":"true","broker":"mqtt_broker","x":600,"y":160,"wires":[]},
    {"id":"fn_event_log","type":"function","z":"flow_main","name":"Event Log","func":"var log = flow.get('eventLog') || [];\nlog.unshift(msg.payload);\nif (log.length > 30) log.length = 30;\nflow.set('eventLog', log);\nmsg.payload = log;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":360,"wires":[["tpl_events"]]},
    {"id":"btn_arm","type":"ui_button","z":"flow_main","name":"ARM","group":"grp_ctrl","order":3,"width":"3","height":"1","passthru":false,"label":"ARM","tooltip":"Arm the alarm system","color":"#ffffff","bgcolor":"#1565c0","icon":"","payload":"{}","payloadType":"json","topic":"","topicType":"str","x":110,"y":460,"wires":[["out_arm"]]},
    {"id":"btn_disarm","type":"ui_button","z":"flow_main","name":"DISARM","group":"grp_ctrl","order":4,"width":"3","height":"1","passthru":false,"label":"DISARM","tooltip":"Admin override — disarm immediately","color":"#ffffff","bgcolor":"#b71c1c","icon":"","payload":"{}","payloadType":"json","topic":"","topicType":"str","x":110,"y":520,"wires":[["out_disarm"]]},
    {"id":"out_arm","type":"mqtt out","z":"flow_main","name":"cmd arm","topic":"alarm/command/arm","qos":"0","retain":"","broker":"mqtt_broker","x":330,"y":460,"wires":[]},
    {"id":"out_disarm","type":"mqtt out","z":"flow_main","name":"cmd disarm","topic":"alarm/command/disarm","qos":"0","retain":"","broker":"mqtt_broker","x":330,"y":520,"wires":[]},
    {"id":"mqtt_state","type":"mqtt in","z":"flow_main","name":"system/state","topic":"alarm/system/state","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":620,"wires":[["fn_state_fmt"]]},
    {"id":"fn_state_fmt","type":"function","z":"flow_main","name":"State badge","func":"try {\n    var d = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n    msg.payload = d.state || 'UNKNOWN';\n} catch(e) { msg.payload = 'UNKNOWN'; }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":620,"wires":[["tpl_state_badge"]]},
    {"id":"tpl_state_badge","type":"ui_template","z":"flow_main","group":"grp_ctrl","name":"State Badge","order":1,"width":"6","height":"3","format":"<div style='padding:16px;text-align:center'><span ng-style='{\"display\":\"inline-block\",\"padding\":\"16px 24px\",\"border-radius\":\"12px\",\"font-size\":\"2.2em\",\"font-weight\":\"bold\",\"color\":\"white\",\"background\":msg.payload===\"DISARMED\"?\"#22aa44\":msg.payload===\"ARMED\"?\"#2244cc\":msg.payload===\"PRE_ALARM\"?\"#ff8800\":\"#cc2222\"}'>{{msg.payload||\"--\"}}</span></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":560,"y":620,"wires":[[]]},
    {"id":"mqtt_online","type":"mqtt in","z":"flow_main","name":"online","topic":"alarm/+/online","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":720,"wires":[["fn_online_rtr"]]},
    {"id":"fn_online_rtr","type":"function","z":"flow_main","name":"Online router","func":"var kitA = msg.topic.indexOf('kit_a') >= 0;\nvar on = (String(msg.payload) === '1');\nvar out = {payload: on ? 'ONLINE' : 'OFFLINE'};\nreturn kitA ? [out, null] : [null, out];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":720,"wires":[["txt_kita_online"],["txt_kitb_online"]]},
    {"id":"txt_kita_online","type":"ui_text","z":"flow_main","group":"grp_kits","order":1,"width":"3","height":"1","name":"Kit A Online","label":"Kit A","format":"{{msg.payload}}","layout":"row-spread","className":"","x":560,"y":700,"wires":[]},
    {"id":"txt_kitb_online","type":"ui_text","z":"flow_main","group":"grp_kits","order":2,"width":"3","height":"1","name":"Kit B Online","label":"Kit B","format":"{{msg.payload}}","layout":"row-spread","className":"","x":560,"y":740,"wires":[]},
    {"id":"mqtt_heartbeat","type":"mqtt in","z":"flow_main","name":"heartbeat","topic":"alarm/heartbeat/+","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":820,"wires":[["fn_presence"]]},
    {"id":"fn_presence","type":"function","z":"flow_main","name":"Presence tracker","func":"var kitA = msg.topic.indexOf('kit_a') >= 0;\nvar now = Date.now();\nflow.set(kitA ? 'hb_kit_a' : 'hb_kit_b', now);\nvar ha = flow.get('hb_kit_a') || 0;\nvar hb = flow.get('hb_kit_b') || 0;\nvar STALE = 12000;\nreturn [\n    {payload: (now - ha > STALE) ? 'STALE' : 'LIVE'},\n    {payload: (now - hb > STALE) ? 'STALE' : 'LIVE'}\n];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":820,"wires":[["txt_kita_live"],["txt_kitb_live"]]},
    {"id":"txt_kita_live","type":"ui_text","z":"flow_main","group":"grp_kits","order":3,"width":"3","height":"1","name":"Kit A Live","label":"Kit A live","format":"{{msg.payload}}","layout":"row-spread","className":"","x":560,"y":800,"wires":[]},
    {"id":"txt_kitb_live","type":"ui_text","z":"flow_main","group":"grp_kits","order":4,"width":"3","height":"1","name":"Kit B Live","label":"Kit B live","format":"{{msg.payload}}","layout":"row-spread","className":"","x":560,"y":840,"wires":[]},
    {"id":"mqtt_telemetry","type":"mqtt in","z":"flow_main","name":"telemetry","topic":"alarm/+/telemetry","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":940,"wires":[["fn_telem_rtr"]]},
    {"id":"fn_telem_rtr","type":"function","z":"flow_main","name":"Telemetry router","func":"var kitA = msg.topic.indexOf('kit_a') >= 0;\nvar series = kitA ? 'Kit A' : 'Kit B';\nvar ts = Date.now();\nvar d;\ntry { d = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload; } catch(e) { return null; }\nfunction pt(v) { return [{series:[series], data:[[{x:ts, y:parseFloat(v)||0}]], labels:[series]}]; }\nreturn [\n    {payload: pt(d.temp)},\n    {payload: pt(d.hum)},\n    {payload: pt(d.pres)},\n    {payload: pt(d.lux)}\n];","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":940,"wires":[["chart_temp"],["chart_hum"],["chart_pres"],["chart_lux"]]},
    {"id":"chart_temp","type":"ui_chart","z":"flow_main","group":"grp_telem","name":"Temperature","order":1,"width":"6","height":"4","label":"Temperature (\u00b0C)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"outputs":1,"useDifferentColor":false,"x":560,"y":900,"wires":[[]]},
    {"id":"chart_hum","type":"ui_chart","z":"flow_main","group":"grp_telem","name":"Humidity","order":2,"width":"6","height":"4","label":"Humidity (%)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"outputs":1,"useDifferentColor":false,"x":560,"y":940,"wires":[[]]},
    {"id":"chart_pres","type":"ui_chart","z":"flow_main","group":"grp_telem","name":"Pressure","order":3,"width":"6","height":"4","label":"Pressure (hPa)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"outputs":1,"useDifferentColor":false,"x":560,"y":980,"wires":[[]]},
    {"id":"chart_lux","type":"ui_chart","z":"flow_main","group":"grp_telem","name":"Light","order":4,"width":"6","height":"4","label":"Ambient Light (lux)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":false,"ymin":"0","ymax":"","removeOlder":"30","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"outputs":1,"useDifferentColor":false,"x":560,"y":1020,"wires":[[]]},
    {"id":"tpl_events","type":"ui_template","z":"flow_main","group":"grp_events","name":"Event Log","order":1,"width":"12","height":"6","format":"<div style='height:240px;overflow-y:auto;padding:4px'><p ng-if='!msg||!msg.payload||msg.payload.length===0' style='color:#888;font-style:italic;padding:8px'>No events yet.</p><div ng-repeat='e in msg.payload track by $index' style='padding:3px 6px;border-bottom:1px solid #333;font-family:monospace;font-size:0.85em;color:#ccc'>{{e}}</div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":360,"wires":[[]]}
]
