nodered/flow.json
[
    {"id":"flow_main","type":"tab","label":"AlarmIoT","disabled":false,"info":"AlarmIoT FSM + dashboard. MQTT broker host = mosquitto (Compose service name)."},
    {"id":"mqtt_broker","type":"mqtt-broker","name":"Mosquitto","broker":"mosquitto","port":"1884","clientid":"nodered_alarmiot","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":"","credentials":{}},
    {"id":"dash_base","type":"ui-base","name":"AlarmIoT","path":"/ui","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"default","titleBarStyle":"default"},
    {"id":"dash_tab","type":"ui-page","name":"AlarmIoT","ui":"dash_base","path":"/","icon":"home","layout":"grid","theme":"","order":1,"disabled":false,"hidden":false},
    {"id":"grp_ctrl","type":"ui-group","name":"Status & Control","page":"dash_tab","ui":"dash_base","order":1,"disp":true,"width":"6","height":"1","collapsed":false},
    {"id":"grp_kits","type":"ui-group","name":"Kit Status","page":"dash_tab","ui":"dash_base","order":2,"disp":true,"width":"6","height":"1","collapsed":false},
    {"id":"grp_events","type":"ui-group","name":"Events","page":"dash_tab","ui":"dash_base","order":3,"disp":true,"width":"12","height":"1","collapsed":false},
    {"id":"grp_telem","type":"ui-group","name":"Telemetry","page":"dash_tab","ui":"dash_base","order":4,"disp":true,"width":"12","height":"1","collapsed":false},
    {"id":"mqtt_arm","type":"mqtt in","z":"flow_main","name":"cmd/arm","topic":"alarm/command/arm","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":80,"wires":[["fn_fsm"]]},
    {"id":"mqtt_disarm","type":"mqtt in","z":"flow_main","name":"cmd/disarm","topic":"alarm/command/disarm","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":140,"wires":[["fn_fsm"]]},
    {"id":"mqtt_motion","type":"mqtt in","z":"flow_main","name":"motion","topic":"alarm/kit_a/event/motion","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":200,"wires":[["fn_fsm"]]},
    {"id":"mqtt_defused","type":"mqtt in","z":"flow_main","name":"defused","topic":"alarm/kit_b/event/defused","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":260,"wires":[["fn_fsm"]]},
    {"id":"mqtt_dfail","type":"mqtt in","z":"flow_main","name":"defuse_fail","topic":"alarm/kit_b/event/defuse_fail","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":320,"wires":[["fn_fsm"]]},
    {"id":"fn_fsm","type":"function","z":"flow_main","name":"FSM","func":"var state = flow.get('state') || 'DISARMED';\nvar now = Date.now();\nvar newState = state;\nvar logMsg = null;\nvar timerMsg = null;\nvar topic = msg.topic || '';\n\nif (msg._isTimer === true) {\n    if (state === 'PRE_ALARM') { newState = 'TRIGGERED'; logMsg = 'Entry delay expired'; }\n} else if (topic === 'alarm/command/arm') {\n    if (state === 'DISARMED') { newState = 'ARMED'; logMsg = 'Arm command'; }\n} else if (topic === 'alarm/command/disarm') {\n    newState = 'DISARMED'; logMsg = 'Disarm (admin override)'; timerMsg = {reset: true};\n} else if (topic === 'alarm/kit_a/event/motion') {\n    if (state === 'ARMED') { newState = 'PRE_ALARM'; logMsg = 'Motion detected (Kit A)'; timerMsg = {_isTimer: true, payload: 'entry_delay'}; }\n} else if (topic === 'alarm/kit_b/event/defused') {\n    if (state === 'PRE_ALARM' || state === 'TRIGGERED') { newState = 'DISARMED'; logMsg = 'DEFUSED!'; timerMsg = {reset: true}; }\n} else if (topic === 'alarm/kit_b/event/defuse_fail') {\n    logMsg = 'Defuse FAILED';\n}\n\nvar out1 = null, out2 = timerMsg, out3 = null;\n\nif (newState !== state) {\n    flow.set('state', newState);\n    out1 = {payload: JSON.stringify({state: newState, since: now})};\n}\n\nif (logMsg) {\n    var tag = (newState !== state) ? newState : state;\n    out3 = {payload: new Date().toLocaleTimeString() + '  ' + logMsg + '  [' + tag + ']'};\n}\n\nreturn [out1, out2, out3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":200,"wires":[["out_state"],["delay_15s"],["fn_event_log"]]},
    {"id":"delay_15s","type":"delay","z":"flow_main","name":"15 s Entry Delay","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":580,"y":280,"wires":[["fn_fsm"]]},
    {"id":"out_state","type":"mqtt out","z":"flow_main","name":"alarm/system/state","topic":"alarm/system/state","qos":"0","retain":"true","broker":"mqtt_broker","x":600,"y":160,"wires":[]},
    {"id":"fn_event_log","type":"function","z":"flow_main","name":"Event Log","func":"var log = flow.get('eventLog') || [];\nlog.unshift(msg.payload);\nif (log.length > 30) log.length = 30;\nflow.set('eventLog', log);\nmsg.payload = log;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":360,"wires":[["tpl_events"]]},
    {"id":"btn_arm","type":"ui-button","z":"flow_main","name":"ARM","group":"grp_ctrl","order":3,"width":"3","height":"1","emitOnlyOnChange":false,"label":"ARM","tooltip":"Arm the alarm system","buttonColor":"#1565c0","textColor":"#ffffff","iconColor":"#ffffff","icon":"","iconPosition":"left","payload":"{}","payloadType":"json","topic":"","topicType":"str","x":110,"y":460,"wires":[["out_arm"]]},
    {"id":"btn_disarm","type":"ui-button","z":"flow_main","name":"DISARM","group":"grp_ctrl","order":4,"width":"3","height":"1","emitOnlyOnChange":false,"label":"DISARM","tooltip":"Admin override — disarm immediately","buttonColor":"#b71c1c","textColor":"#ffffff","iconColor":"#ffffff","icon":"","iconPosition":"left","payload":"{}","payloadType":"json","topic":"","topicType":"str","x":110,"y":520,"wires":[["out_disarm"]]},
    {"id":"out_arm","type":"mqtt out","z":"flow_main","name":"cmd arm","topic":"alarm/command/arm","qos":"0","retain":"","broker":"mqtt_broker","x":330,"y":460,"wires":[]},
    {"id":"out_disarm","type":"mqtt out","z":"flow_main","name":"cmd disarm","topic":"alarm/command/disarm","qos":"0","retain":"","broker":"mqtt_broker","x":330,"y":520,"wires":[]},
    {"id":"mqtt_state","type":"mqtt in","z":"flow_main","name":"system/state","topic":"alarm/system/state","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":620,"wires":[["fn_state_fmt"]]},
    {"id":"fn_state_fmt","type":"function","z":"flow_main","name":"State badge","func":"try {\n    var d = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n    msg.payload = d.state || 'UNKNOWN';\n} catch(e) { msg.payload = 'UNKNOWN'; }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":620,"wires":[["tpl_state_badge"]]},
    {"id":"tpl_state_badge","type":"ui-template","z":"flow_main","group":"grp_ctrl","name":"State Badge","order":1,"width":"6","height":"3","format":"<template>\n  <div style=\"padding:16px;text-align:center\">\n    <span :style=\"{\n      display: 'inline-block',\n      padding: '16px 24px',\n      borderRadius: '12px',\n      fontSize: '2.2em',\n      fontWeight: 'bold',\n      color: 'white',\n      background: state === 'DISARMED' ? '#22aa44' : state === 'ARMED' ? '#2244cc' : state === 'PRE_ALARM' ? '#ff8800' : '#cc2222'\n    }\">{{ state }}</span>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() { return { state: '--' } },\n    methods: {\n      onMsgReceived (msg) { this.state = msg.payload || '--' }\n    }\n  }\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":560,"y":620,"wires":[[]]},
    {"id":"mqtt_online","type":"mqtt in","z":"flow_main","name":"online","topic":"alarm/+/online","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":720,"wires":[["fn_online_rtr"]]},
    {"id":"fn_online_rtr","type":"function","z":"flow_main","name":"Online router","func":"var kitA = msg.topic.indexOf('kit_a') >= 0;\nvar on = (String(msg.payload) === '1');\nvar out = {payload: on ? 'ONLINE' : 'OFFLINE'};\nreturn kitA ? [out, null] : [null, out];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":720,"wires":[["txt_kita_online"],["txt_kitb_online"]]},
    {"id":"txt_kita_online","type":"ui-text","z":"flow_main","group":"grp_kits","order":1,"width":"3","height":"1","name":"Kit A Online","label":"Kit A","format":"{{msg.payload}}","layout":"row-spread","style":false,"className":"","x":560,"y":700,"wires":[]},
    {"id":"txt_kitb_online","type":"ui-text","z":"flow_main","group":"grp_kits","order":2,"width":"3","height":"1","name":"Kit B Online","label":"Kit B","format":"{{msg.payload}}","layout":"row-spread","style":false,"className":"","x":560,"y":740,"wires":[]},
    {"id":"mqtt_heartbeat","type":"mqtt in","z":"flow_main","name":"heartbeat","topic":"alarm/heartbeat/+","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":820,"wires":[["fn_presence"]]},
    {"id":"fn_presence","type":"function","z":"flow_main","name":"Presence tracker","func":"var kitA = msg.topic.indexOf('kit_a') >= 0;\nvar now = Date.now();\nflow.set(kitA ? 'hb_kit_a' : 'hb_kit_b', now);\nvar ha = flow.get('hb_kit_a') || 0;\nvar hb = flow.get('hb_kit_b') || 0;\nvar STALE = 12000;\nreturn [\n    {payload: (now - ha > STALE) ? 'STALE' : 'LIVE'},\n    {payload: (now - hb > STALE) ? 'STALE' : 'LIVE'}\n];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":820,"wires":[["txt_kita_live"],["txt_kitb_live"]]},
    {"id":"txt_kita_live","type":"ui-text","z":"flow_main","group":"grp_kits","order":3,"width":"3","height":"1","name":"Kit A Live","label":"Kit A live","format":"{{msg.payload}}","layout":"row-spread","style":false,"className":"","x":560,"y":800,"wires":[]},
    {"id":"txt_kitb_live","type":"ui-text","z":"flow_main","group":"grp_kits","order":4,"width":"3","height":"1","name":"Kit B Live","label":"Kit B live","format":"{{msg.payload}}","layout":"row-spread","style":false,"className":"","x":560,"y":840,"wires":[]},
    {"id":"mqtt_telemetry","type":"mqtt in","z":"flow_main","name":"telemetry","topic":"alarm/+/telemetry","qos":"0","datatype":"utf8","broker":"mqtt_broker","x":110,"y":940,"wires":[["fn_telem_rtr"]]},
    {"id":"fn_telem_rtr","type":"function","z":"flow_main","name":"Telemetry router","func":"var kitA = msg.topic.indexOf('kit_a') >= 0;\nvar series = kitA ? 'Kit A' : 'Kit B';\nvar ts = Date.now();\nvar d;\ntry { d = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload; } catch(e) { return null; }\nreturn [\n    {topic: series, payload: {x: ts, y: parseFloat(d.temp)  || 0}},\n    {topic: series, payload: {x: ts, y: parseFloat(d.hum)   || 0}},\n    {topic: series, payload: {x: ts, y: parseFloat(d.pres)  || 0}},\n    {topic: series, payload: {x: ts, y: parseFloat(d.lux)   || 0}}\n];","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":940,"wires":[["chart_temp"],["chart_hum"],["chart_pres"],["chart_lux"]]},
    {"id":"chart_temp","type":"ui-chart","z":"flow_main","group":"grp_telem","name":"Temperature","label":"Temperature (\u00b0C)","order":1,"width":"6","height":"4","chartType":"line","category":"topic","categoryType":"property","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisLabel":"","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointRadius":4,"showLegend":true,"removeOlderPoints":"30","colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"x":560,"y":900,"wires":[[]]},
    {"id":"chart_hum","type":"ui-chart","z":"flow_main","group":"grp_telem","name":"Humidity","label":"Humidity (%)","order":2,"width":"6","height":"4","chartType":"line","category":"topic","categoryType":"property","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisLabel":"","yAxisProperty":"","ymin":"0","ymax":"100","action":"append","pointRadius":4,"showLegend":true,"removeOlderPoints":"30","colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"x":560,"y":940,"wires":[[]]},
    {"id":"chart_pres","type":"ui-chart","z":"flow_main","group":"grp_telem","name":"Pressure","label":"Pressure (hPa)","order":3,"width":"6","height":"4","chartType":"line","category":"topic","categoryType":"property","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisLabel":"","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointRadius":4,"showLegend":true,"removeOlderPoints":"30","colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"x":560,"y":980,"wires":[[]]},
    {"id":"chart_lux","type":"ui-chart","z":"flow_main","group":"grp_telem","name":"Light","label":"Ambient Light (lux)","order":4,"width":"6","height":"4","chartType":"line","category":"topic","categoryType":"property","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisLabel":"","yAxisProperty":"","ymin":"0","ymax":"","action":"append","pointRadius":4,"showLegend":true,"removeOlderPoints":"30","colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"x":560,"y":1020,"wires":[[]]},
    {"id":"tpl_events","type":"ui-template","z":"flow_main","group":"grp_events","name":"Event Log","order":1,"width":"12","height":"6","format":"<template>\n  <div style=\"height:240px;overflow-y:auto;padding:4px\">\n    <p v-if=\"!events.length\" style=\"color:#888;font-style:italic;padding:8px\">No events yet.</p>\n    <div v-for=\"(e, i) in events\" :key=\"i\" style=\"padding:3px 6px;border-bottom:1px solid #333;font-family:monospace;font-size:0.85em;color:#ccc\">{{ e }}</div>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() { return { events: [] } },\n    methods: {\n      onMsgReceived (msg) { this.events = msg.payload || [] }\n    }\n  }\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":760,"y":360,"wires":[[]]}
]
